body {
    background-color: rgb(254, 250, 223);
}

header {
    background-color: rgb(40, 55, 26);
    height: 50px;
    width: 100%;
    position: fixed;
}

.nameBar {
    color: rgb(254, 250, 223);
    position: relative;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 30px;
    width: 200px;
    top: 8px;
}

.menu {
    position: relative;
    width: 10px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.menu ul a {
    text-decoration: solid;
    color: rgb(254, 250, 223);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 1330px;
    bottom: 20px;
    border: 1px solid rgb(254, 250, 223);
    border-radius: 5px;
}

.logo img {
    position: absolute;
    width: 200px;
    left: 650px;
    top: -50px;
}

.text1 {
    color: rgb(189, 109, 38);
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 30px;
}

.text2 {
    color: rgb(40, 55, 26);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    position: absolute;
    top: 260px;
    left: 35px;
}

.ert {
    color: rgb(40, 55, 26);
}

.imgButton {
    width: 20px;
    position: relative;
    top: 3px;
}

.buttonAbout button {
    position: absolute;
    top: 320px;
    left: 35px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 5px solid rgb(189, 109, 38);
    background-color: rgb(189, 109, 38);
    color: rgb(40, 55, 26);
    border-radius: 100px;
    text-align: center;
    box-shadow: 3px 1px 10px rgb(189, 109, 38);
    width: 200px;
}

.socialMediaIcons ul {
    position: absolute;
    display: flex;
    top: 400px;
    left: 30px;
    gap: 1em;
}

.socialMediaIcons ul img {
    width: 30px;
    border: 15px solid rgb(189, 109, 38);
    background-color: rgb(189, 109, 38);
    border-radius: 100%;

}

.myPhotoSticker img {
    width: 400px;
    position: absolute;
    left: 900px;
    top: 100px;
    border: 1px solid rgb(40, 55, 26);
    border-radius: 50%;
    background-color: rgb(189, 109, 38);
}